.about-section-5{
    position: relative;
    background-color: #383BB4;
    padding-top: 15px;
    padding-bottom: 70px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.about-section-5-heading{
    font-size: 45px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.about-section-5-points-container{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    margin-top: 90px;
}
.about-section-5-blue-ellipse{
    position: absolute;
    bottom: -30px;
    right: -10px;
}
.about-section-5-yellow-ellipse{
    position: absolute;
    width: 110px;
    top: -30px;
    left: -20px;
    z-index: 1;
}