.footer{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    z-index: 100;
    /* padding-bottom: 60px; */
}
.input{
    padding: 0px;
}
.footer-section-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
}
.footer-section-2{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
/* Footer Section-1 Css Start */
/* Footer Mail Section Start*/
.footer-mail-section h3{
    font-size: 24px;
    color: #383838;
}
.footer-mail-section p{
    color: #A7A7A7;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-mail-section input{
    width: 60%;
    max-width: 337px; 
    height: 50px;
    border: none;
    padding-left: 10px;
    background: #DAF4FF;
    border-radius: 10px 0px 0px 10px;
}
.footer-mail-section button{
    width: 30%;
    max-width: 178px;
    height: 50px;
    padding-top: 3px;
    padding-bottom: 4px;
    background: #2D3092;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-size: 18px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8E8E8E;
    margin-left: 10px;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8E8E8E;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #8E8E8E;
  }

/* Footer Mail Section End*/
/* Footer Social Section Start*/
.footer-copyright{
    position: absolute;
    bottom: 20px;
    left: 45px;
}
.footer-social-section{
    position: relative;
    padding-left: 47px;
    padding-top: 1px;
    padding-bottom: 60px;
    background-color: white;
}
.footer-social-section h3{
    font-size: 24px;
    color: #383838;
} 
.footer-social-section img{
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
} 

/* Footer Section 1 css End */

/* Footer Section-2 css Start */
.footer-section-2-company-details h3{
    font-size: 24px;
    color: #383838;
}
.footer-section-2-contact-us h3{
    font-size: 24px;
    color: #383838;
}
.footer-section-2-company-details p{
    color: #A7A7A7;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-section-2-contact-us p{
    color: #A7A7A7;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-section-2 p:hover{
    cursor: pointer;
    color: black;
    font-weight: 600;
}
.footer-learnbowl-icon{
    width: 250px;
}

/* Footer Section-2 css End */


@media only screen and (max-width: 860px)
{
    .footer{
        flex-direction: column;
    }
    .footer-section-1{
        flex: 1;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-top: 20px;
    }
    .footer-section-2{
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .footer-section-2-company-details{
        margin-left: 40px;
    }
    .footer-section-2-contact-us{
        margin-left: 30vw;
    }
}
@media only screen and (max-width: 500px)
{
    .footer-section-1{
        margin-left: 20px;
    }
    .footer-social-section{
        /* margin-left: 20px; */
        padding-left: 20px;
    }
    .footer-social-section .footer-copyright{
       left: 20px;
    }
    .footer-section-2-contact-us{
        margin-left: 10vw;
    }
    .footer-section-2-company-details{
        margin-left: 20px;
    }
    .footer-section-2-company-details h3{
        font-size: 22px; 
    }
    .footer-section-2-contact-us h3{
        font-size: 22px;
    }
    .footer-section-2-company-details p{
        font-size: 14px;
    }
    .footer-section-2-contact-us p{
        font-size: 14px;
    }
    .footer-social-section h3{
        font-size: 22px;
    } 
    .footer-mail-section h3{
        font-size: 22px;
        
    }
    .footer-mail-section p{
        font-size: 14px;
    }
    .footer-mail-section input{
        height: 30px;
        border: none;
        padding-left: 10px;
        background: #DAF4FF;
        border-radius: 8px 0px 0px 8px;
    }
    .footer-mail-section button{
        width: 30%;
        max-width: 178px;
        height: 30px;
        background: #2D3092;
        border-radius: 0px 8px 8px 0px;
        color: white;
        font-size: 18px;
    }
}