.footer-desktop{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 100;
}
.footer-mobile{
    display: none;
}
.footer-section-1{
    flex: 1;
}
.footer-section-1-content{
    margin-top: 100px;
}
.footer-section-2-content{
    margin-top: 100px;
}
.footer-section-3-content{
    margin-top: 100px;
}
.footer-section-2-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 320px;
    margin: auto;
}
.footer-section-email{
    border: 2px solid black;
    max-width: 320px;
    margin: auto;
    margin-top: 50px;
}
.footer-section-email p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-section-copyright{
    width: fit-content;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin: auto;
    margin-top: 30px;
}
.footer-section-points{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer-section-2{
    /* display: flex;
    justify-content: center; */
    position: relative;
    flex: 1;
}
.footer-section-3{
    flex: 1;
}
.footer-top-line{
    border-top: 2px solid #383838;
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 10px;
}
.footer-section-2-icon-container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    width: 100%;
}
.footer-section2-icon{
    width: 200px;
}
.back-to-top-btn{
    display: block;
    width: fit-content;
    border-bottom: 2px solid #383838;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 1000px)
{
    .footer-desktop{
        display: none;
    }
    .footer-mobile{
        display: block;
        position: relative;
        background-color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        z-index: 100;
    }
    .footer-mobile-section-1{
        display: flex;
    }
    .footer-top-line{
        max-width: 250px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-mobile-icon-container{
        /* position: relative; */
        width: fit-content;
        margin: auto;
    }
    /* Section2 css start */
    .footer-mobile-section-2-icons-container{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    /* Section2 css End */

    /* Section3 css start */
    .footer-mobile-section-3{
        display: flex;
    }
    .footer-mobile-section-3-section-1{
        flex: 1;
        margin-top: 35px;
        margin-left: 20px;
        margin-right: 10px;
    }
    .footer-mobile-section-3-section-2{
        flex: 1;
        margin-top: 35px;
        margin-left: 10px;
        margin-right: 20px;
    }
    
    /* Section3 css end */

    /* Section4 css start */
    .footer-section-email{
        margin-top: 30px;
    }
    /* Section4 css end */
}
@media only screen and (max-width: 768px)
{
    .footer-section-points{
        /* width: fit-content; */
        font-size: 14px;
    }
    .footer-section-2-email p{
        font-size: 14px;
    }
    .footer-section-copyright{
        font-size: 12px;
    }
}
@media only screen and (max-width: 400px)
{
    .footer-mobile-section-3-section-1{
        margin-right: 0px;
    }
    .footer-mobile-section-3-section-2{
        margin-left: 0px;
       padding-left: 30px;
    }
    .footer-section-points{
        display: block;
        width: 100%;
        text-align: left;
    }
}