.navbar{
    display: flex;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 9999;
    position: sticky;
    background-color: aqua;
    align-items: center;
    background-color: white;
}

.navbar-icon{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.menu-items{
    flex: 1.5;
    display: flex;
    list-style: none;
    margin-right: 10px;
    font-weight: 500;
}
.navbar-text{
    margin-left: 5px;
    font-size: 2rem;
}
.items{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
.items:hover{
    background-color: var(--blue);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
@media only screen and (max-width: 768px) 
{
    .menu-icon{
        width: 30px;
        height: 50px;
        margin-right: 20px;
        cursor: pointer;
    }
    .menu-items-mobiles{
        position: absolute;
        background-color: white;
        height: 300px;
        width: 100%;
        top: 80px;
        left: 0;
    }
    .menu-items{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-right: 10px;
        font-weight: 500;
    }
    .items{
        margin: 10px 10px;
        font-size: 1.2rem;
        cursor: pointer;
    }
    
}