.hero-vedic{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.hero-vedic-section-1{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 40px;
    margin-top: 40px;
}
.hero-vedic-section-1-info-1{
    font-weight: 400;
    color: #D65555;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hero-vedic-section-1-info-2{
    font-weight: 400;
    font-size: 20px;
    color: #7D7D7D;
    margin-bottom: 10px;
}
.vedic-wave1{
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    /* height: 100%; */
}
.vedic-wave2{
    position: absolute;
    top: 110px;
    left: 0px;
    width: 100%;
}
.vedic-wave3{
    position: absolute;
    top: 160px;
    left: 0px;
    width: 100%;
}
.vedic-wave4{
    position: absolute;
    top: 210px;
    left: 0px;
    width: 100%;
}
/* Hero Section-1 Css Start*/
.hero-vedic-section-1-heading{
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 20px;
    color: #323232;
    max-width: 700px;
    margin-left: auto;
}
.hero-vedic-section-1-heading img{
    vertical-align: middle;
    padding-bottom: 5px;
    margin-left: -1px;
    object-fit: contain;
    /* height: 69px; */
}
.hero-vedic-section-1-img-container{
    margin-top: 0px;
    display: flex;
    /* justify-content: center; */
}
.hero-vedic-section-1-img{
    width: 100%;
    max-width: 800px;
    /* margin: auto; */
}
/* Hero Section-1 Css End*/

/* Hero Section-2 Css Start */
.hero-vedic-section-2{
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    border-radius: 20px;
    max-width: 498px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 40px 15px rgba(227, 241, 251, 0.5);
}
.hero-vedic-section-2-heading{
    margin-left: 28px;
    margin-right: 40px;
    margin-bottom: 10px;
    font-size: 26px;
    color: #1E2063;
}

/* .hero-vedic-section-2 form .input{
    position: relative;
    display: block;
    border: none;
    border-bottom: 2px solid #D7D7D7;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 20px;
    padding-left: 3px;
    font-size: 15px;
    height: 30px;
}
.hero-vedic-section-2 form .select{
    position: relative;
    display: block;
    border: none;
    border-bottom: 2px solid #D7D7D7;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 15px;
    height: 30px;
    color: #828282;
}
.select:focus-visible{
    outline: none;
} */
.checkbox{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: green;
}
.register-btn{
    display: block;
    width: 225px;
    height: 50px;
    background-color: #2D3092;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.vedic-hero-section-2-date-container{
    margin-left: 20px;
}
.vedic-hero-section-2-date-btn{
    width: 135px;
    height: 40px;
    background-color: #F1F1F1;
    font-size: 13px;
    color: #464646;
    border-radius: 100px;
    font-weight: 500;
    margin-right: 10px;
}
.vedic-hero-section-2-date-btn-active{
    width: 135px;
    height: 40px;
    background-color: #303030;
    font-size: 13px;
    color: white;
    border-radius: 100px;
    font-weight: 500;
    margin-right: 10px;
}
.checkbox{
    width: 15px;
    height: 15px;
}
.checkbox-label{
    font-size: 15px;
}
.vedic-hero-section-2-bastille{
    position: absolute;
    width: 140px;
    bottom: 20px;
    right: 5px;
}
/* Hero Section-2 Css End */

@media only screen and (max-width: 800px)
{
    .hero-vedic{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: center;
        justify-items: center;
    }
    .hero-vedic-section-1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        display: block;
        text-align: start;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .hero-vedic-section-1-info-1 {
        font-weight: 400;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .hero-vedic-section-1-heading{
        font-weight: 700;
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 5px;
        color: #323232;
        max-width: 70vw;
        /* text-align: start; */
    }
    .hero-vedic-section-1-info-2 {
        font-weight: 400;
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .hero-vedic-section-2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 20px;
        margin-top: 10px;
        z-index: 100;
        /* width: 100%; */
    }
    
    .hero-vedic-section-1-heading img {
        vertical-align: middle;
        height: 46px;
        padding-bottom: 0px;
    }
    .hero-vedic-section-1-img-container{
        display: none
    }
    .vedic-hero-section-2-bastille{
        position: absolute;
        width: 130px;
        top: -120px;
        right: 0px;
    }
 
   
    
}