.frenchschool-section-6{
    position: relative;
    padding-top:10px;
    padding-bottom: 80px;
    background-color: #F7FAFB;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .frenchschool-section-6-heading{
      font-size: 46px;
      font-weight: 600;
      text-align: center;
      color: #323232;
  }
  .frenchschool-section-6 .left-btn{
    position: absolute;
    bottom: 30px;
    right: 200px;
    background-color: #232496;
    font-size: 18px;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .frenchschool-section-6 .right-btn{
    position: absolute;
    bottom: 30px;
    right: 160px;
    background-color: #232496;
    font-size: 18px;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
  }
  ::-webkit-scrollbar {
      display: none;
    }
    
    .reviews{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
      /* overflow: -moz-scrollbars-none; 
      -ms-overflow-style: none;  */
    }
    .review-container{
      position: relative;
      min-width: 367px;
      max-width: 367px;
      height: 370px;
      border-radius: 6px;
      background-color: white;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    }
    .reviewer-info{
      display: flex;
      position: absolute;
      bottom: 30px;
      left: 20px;
      color: #697694;
      align-items: center;
    }
    .reviewer-name-lvl{
      margin-left: 16px;
    }
    .reviewer-image{
      width: 86px;
    }
    .reviewer-name{
      font-size: 22px;
      font-weight: 700;
    }
    .reviewer-rating{
      margin-left: 20px;
      padding-top: 60px;
    }
    .reviewer-review{
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 20px;
    }
    @media only screen and (max-width: 768px)
    {
        .frenchschool-section-6-heading{
            font-size: 26px;
            font-weight: 600;
            text-align: center;
            margin-left: 16px;
            margin-right: 16px;
        }
    }
    @media only screen and (max-width: 620px)
    {
      .review-container{
        min-width: 257px;
        max-width: 257px;
        height: 370px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .reviewer-review{
        font-size: 14px;
        color: #697694;
      }
      .frenchschool-section-6 .left-btn{
        bottom: 30px;
        right: 110px;
        /* font-weight: 600; */
      }
      
      .frenchschool-section-6 .right-btn{
        bottom: 30px;
        right: 60px;
        
      }
    }