.about-section-1{
    position: relative;
    background: linear-gradient(180deg, rgba(203, 255, 151, 0.35) -18.95%, rgba(42, 166, 255, 0.35) 118.95%);
    max-width: 1400px;
    border-radius: 15px;
    z-index: 2;
    margin: auto;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-section-1-heading{
    font-size: 45px;
    font-weight: 600;
    color: #323232;
    text-align: center;
}
.about-section-1-points-container{
    display: flex;
}
.about-section-1-point-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-section-1-points-mobile-section{
    display: flex;
    justify-content: space-around;
    flex: 1;
}
.about-section-1-point-img{
    width: 136px;
    margin: auto;
    margin-top: 20px;
}
.about-section-1-point-heading{
    font-weight: 500;
    font-size: 40px;
    color: #1E2063;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}
.about-section-1-point-sub-heading{
    font-weight: 400;
    font-size: 22px;
    color: #000130;
    opacity: 0.6;
    margin-top: 0px;
}

@media only screen and (max-width: 830px)
{
    .about-section-1{
        /* height: 576px; */
        margin-left: 20px;
        margin-right: 20px;
    }
    .about-section-1-points-container{
        flex-direction: column;
    }
    .about-section-1-points-mobile-section{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 768px)
{
    .about-section-1-heading{
        font-size: 30px;
        font-weight: 500;
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 732px)
{
    .about-section-1{
        /* height: 500px; */
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .about-section-1-point-heading{
        font-size: 20px;
    }
    .about-section-1-point-sub-heading{
        font-size: 14px;
    }
    .about-section-1-point-img{
        width: 90px;
       
    }
}